/* 

### Primary

- Dark Blue: hsl(240, 38%, 20%)
- Grayish Blue: hsl(240, 18%, 77%)

## Typography

### Body Copy

### Font

- Weights: 300, 500, 700

## The challenge

Your users should be able to: 

- View the optimal layout for the component depending on their device's screen size
- Navigate the slider using either their mouse/trackpad or keyboard

*/



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: hsl(240, 38%, 20%);
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background: url(./images/pattern-bg.svg) no-repeat center right 10%, url(./images/pattern-curve.svg) no-repeat left bottom, url(./images/pattern-quotes.svg) no-repeat top 29% left 20%;
}

#container{
    width: 1100px;
    height: 540px;
    position: relative;
}

.comment-container{
    width: 650px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

h6{
    display: inline;
    font-size: 20px;
}

span{
    display: inline-block;
    margin-top: 50px;
    margin-left: 10px;
    font-size: 20px;
    color: hsl(240, 18%, 77%);
}

.image-container{
    float: right;
    width: 540px;
}

.image{
    border-radius: 5px;
    display: flex;
    width: 100%;
    height: 540px;
}

.profile{
    display: none;
}

.active{
    display: block;
}

#slider-buttons{
    width: 110px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    bottom: 0;
    right: 360px;
    transform: translateY(50%);
    box-shadow: #777 2px 0 50px;
}

#prev, #next{
    margin: 20px;
    cursor: pointer;
}

.attribution {
    font-size: 11px;
    position: absolute;
    bottom: 20px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 1200px) {
    body{
        background: url(./images/pattern-bg.svg) no-repeat top 110px center, url(./images/pattern-curve.svg) no-repeat left bottom, url(./images/pattern-quotes.svg) no-repeat top 53vh center;
        background-size: 300px 300px, 300px 100px, 60px 50px;
        font-size: 18px;
    }
    
    #container{
        width: 375px;
    }

    .comment-container{
        width: 100%;
        height: 200px;
        padding: 35px;
        text-align: center;
        top: 400px;
    }

    .image-container{
        width: 255px;
        height: 255px;
        float: none;
        margin: auto; 
    }

    .image{
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    h6{
        display: block;
        margin-top: 25px;
        font-size: 16px;
    }

    span{
        margin-top: 5px;
        font-size: 16px;
    }

    #slider-buttons{
        position: absolute;
        left: 50%;
        top: 255px;
        transform: translate(-50%, -50%);
    }

}